<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="edit"> 
    <%= image_tag(@user.image.url, id: "my-image") if @user.image && @user.image.url %>
    <%= f.file_field :image %>
    <div class="field">
      <%= f.text_field :name, autofocus: true %>
    </div>
    
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>
  <%= button_to "退会", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'delete-btn'%>

  <%= link_to "Back", :back %>

