<div class="show">
  <% if @user.image.nil? %>
    <%= image_tag "default.jpg", id: "my-image"%>  
  <% else %>
    <%= image_tag(@user.image.url, id: "my-image") if @user.image && @user.image.url  %>
  <% end %>		
<div class="form-group">
    <%= @user.name %>
  </div>
    <%= link_to 'プロフィール編集', edit_user_registration_path, class:"btn btn-default" %>
    <%= link_to '投稿一覧', posts_path, class:"btn btn-default" %>
    <%= link_to '投稿する', musics_path, class:"btn btn-default" %>
</div>
<% @posts.each do |post| %>
  <% post.joins.each do |join| %>
    <div class="card__show">
    <div class="card-body" style="height: 20rem;">
    <%= join.music.artist_name %>
      <p><a href= <%= join.music.track_url %>>track:<%= join.music.track_name %></a></p>
      <p><a href= <%= join.music.album_url %>>album:<%= join.music.album_name %></a></p>
      <%= join.music.release_date%> 
      <br>
      <%= image_tag join.music.image, :size => "280x280"%>
      <div class="audio-wrap" >
        <audio controls id="audio__post">
          <source src= <%= join.music.preview_url %> type="audio/mp3">
        </audio>
        <div class="audio-btn" id="audio-btn"></div>
  </div>
      <% end %>
    <div class="card-footer__index" >
      <%= post.content%>
    </div>
      <div id="post_date">
        <%= post.created_at.to_formatted_s(:without_second) %>
      </div>
    </div>
    <% end %>