<div class="show">
  <% if @user.image.nil? %>
    <%= image_tag "default.jpg", id: "my-image"%>  
  <% else %>
    <%= image_tag(@user.image.url, id: "my-image") if @user.image && @user.image.url  %>
  <% end %>		
<div class="form-group">
    <%= @user.name %>
  </div>
    <% if @user.id == current_user.id %>
      <%= link_to 'プロフィール編集', edit_user_registration_path, class:"btn btn-default" %>
      <%= link_to '投稿一覧', posts_path, class:"btn btn-default" %>
      <%= link_to '投稿する', musics_path, class:"btn btn-default" %>
    <% end %>
</div>
<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <% post.togethers.each do |together| %>
          <div class="card__show">
            <% if post.user_id == current_user.id %>  
              <%= link_to 'Destroy',post_path(post.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default", style: "color: red; float: right;"%>
            <% end %>
            <div class="card-body" style="height: 29rem;">
              <%= together.music.artist_name %>
              <p><a href= <%= together.music.track_url %>>track:<%= together.music.track_name %></a></p>
              <p><a href= <%= together.music.album_url %>>album:<%= together.music.album_name %></a></p>
              <%= together.music.release_date%> 
              <br>
              <%= image_tag together.music.image, :size => "280x280"%>
              <div class="audio-wrap" >
                <audio controls id="audio__post">
                  <source src= <%= together.music.preview_url %> type="audio/mp3">
                </audio>
              </div>
              <div id="post_date">
                <%= post.created_at.to_formatted_s(:without_second) %>
              </div>
            </div>
        <% end %>
            <div class="card-footer__show" style="height: 8rem;">
              <%= post.content%>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>