
<% @posts.each do |post| %>
  <% post.joins.each do |join| %>
    <%= join.music.artist_name %>
    <p><a href= <%= join.music.track_url %>>track:<%= join.music.track_name %></a></p>
    <p><a href= <%= join.music.album_url %>>album:<%= join.music.album_name %></a></p>
    <%= join.music.release_date%> 
    <br>
    <%= image_tag join.music.image, :size => "200x200"%>
<% end %>
  <%= post.content%>
  <% end %>
