
<%= form_with(model: @post, method: :get, local: true, url: posts_path) do |form| %>
  <%= form.text_field :artist_name, class:'form-control', style: "margin-top: 130px; text-align: center;"%>
  <%= form.submit 'search', class: "btn btn-default post" %>
<% end %>

<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <% post.joins.each do |join| %>
          <div class="card__post">
            <div class="card-header">
              <% if post.user.image.nil? %>
                <%= image_tag "default.jpg" %>
              <% else %>
                <%= image_tag(post.user.image.url, id: "index_my_image") if post.user.image && post.user.image.url  %>
              <% end %>
              <%= link_to "#{post.user.name}", user_path(id: post.user_id) %>
            </div>
          
            <div class="card-body" style="height: 30rem;">
              <%= join.music.artist_name %>
              <p><a href= <%= join.music.track_url %>>track:<%= join.music.track_name %></a></p>
              <p><a href= <%= join.music.album_url %>>album:<%= join.music.album_name %></a></p>
              <%= join.music.release_date%> 
              <%= image_tag join.music.image, :size => "285x285"%>
              <div class="audio-wrap" >
                <audio controls id="audio__post">
                  <source src= <%= join.music.preview_url %> type="audio/mp3">
                </audio>
              </div>
                  <%= link_to 'Show',post_path(post.id)%>
                <div id="post_date">
                  <%= post.created_at.to_formatted_s(:without_second) %>
                </div>
            </div>
        <% end %>
            <div class="card-footer__index" style="height: 8rem;" >
              <%= post.content%>
            </div>
          </div>    
      </div>  
    <% end %>
  </div>
</div>

