
  <div class="card" style="width: 25rem;">
    <%= @music.artist_name %>
    <br>
    track:<%= @music.track_name %>
    <br>
    album:<%= @music.album_name %>
    <br>
    <%= @music.release_date %>
    <br>
    <br>
    <%= image_tag @music.image, :size => "400x400"%>
    <div class="card-footer" style="height: 1rem;">
      <%= form_with(model: @post, local:true) do |form| %>
        <%= form.text_area :content, class: 'form-control new' %>
        <%= form.hidden_field :music_id, value: @music.id %>
          <i class="fas fa-compact-disc ">
            <%= form.submit 'play it loud!!' %>
          </i>
          <%= link_to '選び直す',music_path(id: @music.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
    </div>
  </div>
      <% end %>