<div id="musics">
  <p id="notice"><%= notice %></p>
    <%= form_with(method: :get, local: true) do |form| %>
    <%= form.text_field :search ,:placeholder => "曲名、アーティスト名",class:'form-control',style: "margin-bottom: 10px" %>
    <%= form.submit '選曲', class: "btn btn-default music"%>
    <% end %>
</div>
  <% if @musics != nil %>
  <div class="container">
  <div class="row">
    <% @musics.each do |music| %>
        <div class="col-md-4">
          <div class="card__search">
            <div class="card-body" style="height: 12rem;">
              <%= music.artists[0].name %>
              <p><a href= <%= music.external_urls["spotify"] %>>track:<%= music.name %></a></p>
              <p><a href= <%= music.external_urls["spotify"] %>>album:<%= music.album.name %></a></p>
              <%= music.album.release_date %>
              <br>
              <%= image_tag music.album.images[0]["url"], :size => "280x280"%>
              <br>
              <div class="audio-wrap" >
                <audio controls id="audio__search">
                  <source src= <%= music.preview_url %> type="audio/mp3" >
                </audio>
                <div class="audio-btn" id="audio-btn"></div>
              </div>
              <%= form_with(model:@music, url:musics_path, local:true) do |form| %>
                <%= form.hidden_field :artist_name, value: "#{music.artists[0].name}"%>
                <%= form.hidden_field :track_name, value: "#{music.name}"%>
                <%= form.hidden_field :album_name, value: "#{music.album.name}"%>
                <%= form.hidden_field :release_date, value: "#{music.album.release_date}"%>
                <%= form.hidden_field :preview_url, value: "#{music.preview_url}"%>
                <%= form.hidden_field :album_url, value: "#{music.album.external_urls["spotify"]}"%>
                <%= form.hidden_field :track_url, value: "#{music.external_urls["spotify"]}"%>
                <%= form.hidden_field :image, value: "#{music.album.images[0]["url"]}"%>
                  <% if user_signed_in? %>
                    <%= form.submit "選ぶ!!", class: 'btn btn-default search'%>
                  <% else %>
                    <%= link_to "login!で投稿", new_user_session_path%>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  <% end %>
